---
title: Projects
layout: default
banner: In 2021, Summer of Bitcoin is funding 51 student projects for 20 open source organizations working on bitcoin and related technologies.
---

<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="/#page-top">Summer of Bitcoin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
                        <li class="nav-item"><a class="nav-link active" href="#">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="/#mentors">Mentors</a></li>
                        <li class="nav-item"><a class="nav-link" href="/#organizers">Organizers</a></li>
						<li class="nav-item"><a class="nav-link" href="/#supporters">Supporters</a></li>
                        <li class="nav-item"><a class="nav-link" href="/#resources">Resources</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
  <!-- Banner -->
        <section class="bg-light" id="apply">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="text-muted text-left">{{ page.banner }}</h5>
                    </div>
                </div>
            </div>
        </section>   

        <div class="row no-gutters cards-container">
			{% for row in site.data.2021 %}
				{% assign mod = forloop.index0 | modulo: 2 %}
				{% if mod == 1 %}
					{% continue %}
				{% else %}
					{% assign curr_i = forloop.index0 %}
					{% assign next_i = forloop.index0 | plus: 1 %}
					{% if forloop.last %}
				
					<!-- last row -->
					<div class="row no-gutters mt-3">
						<div class="col-md-6 card1-left p-5">
							<h3 class="student_name">{{ site.data.2021[curr_i]['Name'] }}</h3>
							<h6 class="university_name">{{ site.data.2021[curr_i]['University'] }}</h6>
							<br>
							<h5 class="text-muted">Project</h5>
							<a target="_blank" href="{{ site.data.2021[curr_i]['Link'] }}"><h6>{{ site.data.2021[curr_i]['Project'] }}</h6></a>
							
							
							<h5 class="text-muted">Mentor</h5>
							<h6>{{ site.data.2021[curr_i]['Mentor'] }}</h6>
							<br>
							<p class="description">{{ site.data.2021[curr_i]['Description'] }}</p>
						</div>
						<div class="col-md-6 card1-right p-5"></div>
					</div>
					{% else %}
					<!-- rest of the rows -->
					<div class="row no-gutters mt-3">
						<div class="col-md-6 card1-left p-5">
							<h3 class="student_name">{{ site.data.2021[curr_i]['Name'] }}</h3>
							<h6 class="university_name">{{ site.data.2021[curr_i]['University'] }}</h6>
							<br>
							<h5 class="text-muted">Project</h5>
							<a target="_blank" href="{{ site.data.2021[curr_i]['Link'] }}"><h6>{{ site.data.2021[curr_i]['Project'] }}</h6></a>
					
							<h5 class="text-muted">Mentor</h5>
							<h6>{{ site.data.2021[curr_i]['Mentor'] }}</h6>
							<br>
							<p class="description">{{ site.data.2021[curr_i]['Description'] }}</p>
						</div>
						<div class="col-md-6 card1-right p-5">
							<h3 class="student_name">{{ site.data.2021[next_i]['Name'] }}</h3>
							<h6 class="university_name">{{ site.data.2021[next_i]['University'] }}</h6>
							<br>
							<h5 class="text-muted">Project</h5>
							<a target="_blank" href="{{ site.data.2021[next_i]['Link'] }}"><h6>{{ site.data.2021[next_i]['Project'] }}</h6></a>
					
							<h5 class="text-muted">Mentor</h5>
							<h6>{{ site.data.2021[next_i]['Mentor'] }}</h6>
							<br>
							<p class="description">{{ site.data.2021[next_i]['Description'] }}</p>
						</div>
					</div>
					{% endif %}
				{% endif %}	
            {% endfor %}
        </div>
